https://github.com/braingeneers/SIMS/archive/refs/heads/main.zip

# Tiny mod to compute sparsemax in double precision for onnx concordance
https://github.com/rcurrie/tabnet/archive/refs/heads/onnx.zip

onnx>=1.17.0
onnxruntime>=1.21.0
sclblonnx==0.3.0

netron

typer[all]==0.9.0
hdbscan>=0.8.29
anndata>=0.8.0
tqdm>=4.65.0

sckit-learn>=1.6.1

# numpy>=1.23.0
# torch>=2.0.0